* 
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px;
    background-color: #000;
    text-align: center;
    color: white;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.about {
    margin: 20px 0;
    padding: 10px;
    background: #111;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}


.hobbies-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.hobby {
    width: 30%;
    background: #111;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.hobby img {
    width: 100%;
    border-radius: 8px;
}

.other-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.other-hobby {
    background: #111;
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}
